/**************General************************************/
@font-face {
    font-family: 'RobotoRegular';
    src: local('Fonts/Roboto-Regular'),
    url(../css/fonts/Roboto-Regular.ttf) format('truetype');
}

nav .container{
    width: 100% !important;
}

body{
    padding-right: 0px !important;
    background-color: #FFFFFF;
    font-family: RobotoRegular !important;
    font-size: 12px;
}

.separate-group{
    margin-top: 20px;
}

#table_videos_wrapper{
    font-size: 13px !important;
}

.modal-dialog{
    font-family: RobotoRegular !important;
    font-size: 14px;
}

.no-padding{
    padding: 0 !important;
}

.seew-group{
    margin-left: -3px;
    margin-bottom: 3%;
}

.seew-group .col-sm-3{
    margin-left: 15px;
}
/**************General************************************/

/**************Navbar admin************************************/
.navbar-default {
    border-color: #00184B !important;
    background-color: #00184B !important;
}

.navbar {
    border: 1px solid #00184B !important;
    min-height: 67px!important;
}

body {
    color: #655E5E;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: #FFFFFF !important;
    text-shadow: none;
}

.dropdown-menu > li > a {
    color: #FFF !important;
}

.navbar-right > li{
    top: 0px !important;
    height: 64px!important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #7B8494 !important;
    color: #FFF !important;
    height: 65px!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a {
    margin-top: -4px!important;
}

.navbar-right > li:hover, .navbar-right > li:focus  {
    background-color: #7B8494;
}

.navbar-right > li > a{
    top: 4px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(110, 119, 137, 0.90);
    border: 1px solid rgba(252, 250, 250, 0.3);
    margin-top: 2px !important;
    box-shadow: none;
}

.navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-nav > li > .dropdown-menu > li > a:hover {
    color: #D3DDF2;
    background-color: #7B8494;
    background-image: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #FFF !important;
    background-color: #7B8494 !important;
}

.navbar .nav > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu::before {
    display: none !important;
}

@media screen and (max-width:768px){
    .navbar-right > li {
        height: 40px !important;
        margin-left: 10px;
    }

    .navbar-header{
        height: 66px;
    }

}
/**************Navbar admin************************************/



/**************Managing news***********************************/
.panel {
    border: none;
    box-shadow: none;
}

.new-button, .button-success, .button-cancel{
    color: #FFF !important;
    font-weight: bold;
    border-radius: 5px;
}

.new-button, .button-success{
    background-color: #00184B !important;
    border-color: #00184B !important;
}

.button-cancel{
    background-color: rgba(200, 17, 10, 0.88);
    border-color: rgba(200, 17, 10, 0.88);
}

.my-buttons  .btn, .new-button{
    float: right;
}

.btn{
    text-shadow: none !important;
}

.new-button{
    margin-top: -30px;
}

.new-button:hover, .new-button:focus, .button-success:hover, .button-success:focus{
    background-color: rgba(110, 119, 137, 0.9) !important;
    border-color: rgba(110, 119, 137, 0.9) !important;
}

.button-cancel:hover, .button-cancel:focus{
    background-color: rgba(205, 45, 39, 0.53) !important;
    border-color: rgba(205, 45, 39, 0.53) !important;
}

.panel-heading h4{
    margin-bottom: 0px;
}

.create-news-form  .col-sm-2, .create-news-form  .col-sm-12, .create-news-form  .col-sm-10, .create-news-form  .col-sm-3{
    padding-left: 0px;
    padding-right: 0px;
}

.create-news-form .button-success{
    margin-right: 15px;
}

input[type="text"], input[type="datetime"]{
    min-height: 30px; !important;
}

.create-news-form .control-group input, .create-news-form .control-group textarea, .whatwedo-group, .whatwedo-group select, .create-news-form .control-group select{
    margin-bottom: 20px !important;
}

.whatwedo-group textarea{
    width: 100%;
    margin-left: 0;
}

#news-title, #news-description{
    width: 100% !important;
}

.my-buttons{
    padding-bottom: 20px;
}

.table-header{
    border-bottom: 1px solid rgba(0, 24, 75, 0.41);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.create-news-form .btn-success{
    margin-right: 15px;
}

.news-page .btn-success{
    width: 50px;
}

.error{
    padding-top: 15px;
    color: rgb(161, 148, 148);
}

.modal-image{
    height: auto;
    width: 100%;
}

#see-image .modal-content, #see-artist-image .modal-content, #see-member-image .modal-content {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
}

#see-image .modal-dialog, #see-video-image .modal-dialog, #see-artist-image .modal-dialog, #see-member-image .modal-dialog{
    width: 80% !important;
    text-align: center;
}

#see-image .modal-content, #see-video-image .modal-content, #see-artist-image .modal-content, #see-member-image .modal-content{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.close{
    color: #fff !important;
    opacity: .5 !important;
}

.close:hover{
    opacity: .3 !important;
}


#see-image .close{
    color: #FFFFFF;
    font-size: 28px;
}

.btn-success{
    background-color: #62BBC1;
    border-color: #62BBC1;
}

.btn-success:hover, .btn-success:focus{
    background-color: #437E83;
    border-color: #437E83;
}

.btn-success, .btn-danger{
    font-weight: bold;
}

.btn-danger{
    background-color: #F15025;
    border-color: #F15025;
}

.btn-danger:hover, .btn-danger:focus{
    background-color: #B73F1F;
    border-color: #B73F1F;
}

#table_news .btn-default, #table_artists .btn-default, #table_member .btn-default, #table_whatwedo .btn-default, #table_videos .btn-default{
    color: #0559F3 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

#table_news .btn-default:hover, #table_news .btn-default:focus, #table_news .btn-default:active, #table_artists .btn-default:hover, #table_artists .btn-default:focus, #table_videos .btn-default:hover, #table_videos .btn-default:focus{
    color: #051D49 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.create-news-form .btn-default{
    background-color: #A6A6A8;
    color: #FFFFFF;
}

.create-news-form .btn-default:hover, .create-news-form .btn-default:focus{
    background-color: #717171;
    color: #FFFFFF;
}

.actions{
    width: 5%;
    text-align: center;
}

.actions .btn{
    width: 60px;
}

.actions .btn-success{
    margin-right: 10px;
}

.upload span{
    float: left;
    top: 4px;
    margin-left: 8px;
}

.upload .btn-default{
    background-color: #E8E8E8;
    color: #333;
    padding: 5px 0px !important;
    font-size: 12px;
}

.upload .btn-default:hover, .upload .btn-default:focus{
    background-color: #E8E8E8;
    color: #333;
}

#news-photo, #artist-photo, #member-photo, #video-photo, #video-photo-edit, #artist-mobile-photo{
    position: relative;
    top: -30px;
    opacity: 0;
    left: -7px;
    cursor: pointer;
}

.create-videos-photos, .videos-photos-edit{
    margin-bottom: 20px;
}



.has-error input{
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}

.separated-group{
    margin-top: 20px;
}

.along-button .btn{
    margin-left: 10px;
}

.along-button .btn-default {
    background-color: #A6A6A8;
    color: #FFF;
}

a.btn{
    padding: 1px 0px !important;
}

.initial-info input[type="radio"]{
    margin-right: 10px;
    margin-bottom: 20px;
}

.initial-info .full-input {
    width: 100%;
    margin-left: -50px;
}
.videos-photos-edit{
    display: none;
}

.initial-info .video-label{
    margin-left: 12px;
}

.alert-notification{
    padding: 10px !important;
    background-color: #96A0B5;
    border-color: #96A0B5;
    color: #FFFFFF;
}

.my-message{
    padding: 10px !important;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media (min-width:768px){
    .navbar-right {
        margin-right: 0px !important;
    }

    .container > .navbar-header {
        margin-right: 0px !important;
    }
}

@media (min-width: 320px) and (max-width: 999px) {
    .navbar-brand > img {
        width: 100%;
    }

    .navbar-default .navbar-brand {
        color: #777;
        width: 73%;
    }
}

@media (max-width:768px){
    .container > .navbar-header {
        margin-right: 0px !important;
    }

    #see-artist-image .modal-dialog, #see-member-image .modal-dialog, #see-image .modal-dialog, #see-video-image .modal-dialog{
        width: auto !important;
    }
}
/**************Managing news***********************************/


/**************Managing general infor**********************************/
#welcome-image{
    margin-right: 11px;
}
/**************Managing general infor***********************************/
