/* Desktop */
@media (min-width: 1200px){
    .visible-mob-tab, .rights{
        display: none !important;
    }

    #see-image-gallery .modal-dialog {
        max-width: 1000px;
        width: 1000px;
    }

    #news .carousel-inner > .item > img{
        margin-left: 11px;
    }

    #see-image-gallery .modal-dialog .item{
        height: 400px;
    }

    #recent-work .recent-work-header img, #recent-work .recent-work-header h1{
        margin-left: 31px;
    }

    #recent-work .recent-work-header h1{
        margin-top: 16px !important;
    }

    #recent-work .videos-header .video-title {
        padding-top: 13px !important;
    }

    #recent-work .videos-header .video-title{
        width: 26.79%;
        padding-left: 39px;
    }

    #recent-work .videos-header .title{
        width: 43.19%;
        padding: 16px 0 0 5px !important;
    }

    #recent-work .videos-header .playing-options{
        width: 30.01%;
        padding: 16px 0 0;
    }

    #recent-work .videos-header.first-one {
        margin-left: 15px;
    }

    #recent-work .videos-header ul li{
        text-align: left;
        padding: 0 0 0 10px;
    }

    #recent-work .video-main-image{
        width: 100%;
        padding-top: 0;
    }

    #recent-work .videos-header ul li .orange-line {
        margin-top: 1px;
    }

    #portfolio-content ul{
        margin-left: 30px;
    }

    #portfolio .whatwedo-filter li {
        display: inline-block;
    }

    #portfolio .recent-work-header h1, #portfolio .recent-work-header img {
        margin-left: 32px;
    }

    #portfolio .thumbnail-all .orange-line, #portfolio .thumbnail-all p {
        margin-left: 51px;
    }

    #portfolio .whatwedo-filter li{
        padding-left: 1px;
    }

    #portfolio .portfolio-sub-header ul {
        margin-top: -2px;
    }

    #portfolio .portfolio-sub-header ul li:nth-child(2), #portfolio .portfolio-sub-header ul li:nth-child(3), #portfolio .portfolio-sub-header ul li:nth-child(4){
        margin-left: -4px;
    }

    #portfolio-content ul li .share {
        padding: 26px 0px;
        margin-left: 26px;
    }

    #portfolio .thumbnail-hover ul {
        margin: -7px 0px 40px 20px;
    }

    #portfolio #portfolio-content {
        padding-left: 15px !important;
    }

    #portfolio .sharebuttons{
        padding-left: 30px;
    }

    #portfolio .thumbnail-hover .col-sm-12{
        padding: 0;
    }

    #news .news-container .news{
        left: 0;
        margin-left: 36px;
        margin-top: -8px;
    }

    #news .news-paragraph-container{
        margin-left: -10px;
        margin-top: -3px;
    }

    #news .counter-container{
        top: -100px;
        position: relative;
        float: right;
        right: 18px;
    }

    .news-container .orange-line {
        margin-top: -9px;
    }

    #contact-us .subject-options {
        left: 26px;
    }

    .gray-line{
        width: 588px;
        left: -23px;
    }
}


/*Tablets*/
@media (min-width: 992px) and (max-width: 1199px){
    #navbar .visible-mob-tab, .rights{
        display: none !important;
    }

    .gray-line{
        width: 581px;
        top: -4px;
        left: -23px;
    }

    .navbar-default{
        left: 0;
    }

    .menu{
        top: 23px;
    }

    .navbar-brand > img {
        margin-top: 0px;
    }

    .navbar-right {
        margin-right: 60px;
    }

    .navbar-nav > li > a {
        padding-top: 26px;
    }

    #main-view{
        left: -8px;
    }

    #services .services-list {
        margin: 73px 0px 50px -1px;
    }

    #services .services-header{
        margin-bottom: 0;
    }

    #services .services-list li {
        width: 12%;
    }

    #services .container-services-list .btn {
        margin-top: 0;
    }

    #recent-work .recent-work-header h1, #recent-work .recent-work-header img{
        margin-left: -16px;
    }

    #recent-work .recent-work-header h1{
        margin-top: 16px !important;
    }

    #recent-work .videos-header .video-title {
        padding: 14px 0 0 39px;
        width: 27.2%;
    }

    #recent-work .videos-header .title{
        width: 36.4%;
    }

    #recent-work .videos-header .title p{
        padding-left: 0;
    }

    #recent-work .videos-header .playing-options{
        width: 36.3%;
    }

    #recent-work .sharebuttons {
        top: 50px;
    }

    #recent-work .carousel-control {
        top: 198px;
    }

    #recent-work .sharebuttons ul{
        margin-left: -10px;
    }

    #recent-work .videos-header ul{
        text-align: left;
        width: 100%;
        padding: 0;
    }

    #recent-work img.share{
        top: 93px;
        left: 38px;
    }

    #recent-work .carousel-control.right {
        right: 10px;
    }

    #news .carousel-control.right {
        right: -100px;
    }

    #recent-work .carousel-control.left {
        left: 24px;
    }

    #portfolio .all-p{
        position: relative;
        top: 7px;
    }

    /*#portfolio-content ul li .mythumbnail{
        height: 247px;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
    }*/

    #portfolio .portfolio-sub-header .orange-line {
        margin-top: -5px;
    }

    #portfolio-content ul li.thumbnail-inner{
        width: 50%;
    }

    #portfolio .whatwedo-filter li {
        display: inline-block;
    }

    #portfolio .recent-work-header img{
        margin-left: -15px;
    }

    #portfolio .recent-work-header h1{
        margin-left: -12px;
        margin-top: 16px !important;
    }

    #portfolio .thumbnail-all .orange-line, #portfolio .thumbnail-all p {
        margin-left: 36px;
    }

    #portfolio .portfolio-sub-header {
        padding: 7px 0 0 0;
    }

    #portfolio .portfolio-sub-header ul{
        margin-top: 3px;
    }

    #portfolio .whatwedo-filter li .orange-line{
        margin-top: 26px;
    }

    #portfolio .whatwedo-filter li:nth-child(4){
        padding-left: 10px;
    }

    #portfolio .whatwedo-filter li:nth-child(2), #portfolio .whatwedo-filter li:nth-child(3), #portfolio .whatwedo-filter li:nth-child(4){
        margin-left: -5px;
    }

    #portfolio-content ul li.thumbnail-inner, #portfolio .thumbnail-hover, #portfolio-content ul li .item, #portfolio-content ul li .carousel-inner {
        height: 247px;
    }

    #portfolio-content ul li .share {
        padding: 30px 0px;
        margin-left: 17px;
    }

    #portfolio .under-header p {
        padding-left: 2px;
    }

    #portfolio .thumb-title {
        margin-top: 16px;
    }

    #portfolio .thumb-title-name p {
        padding-top: 1px;
    }

    #portfolio .thumbnail-hover ul {
        width: 276px;
        margin: -8px 0 30px -41px;
    }

    #portfolio .thumbnail-hover .sharebuttons ul{
        margin: 0 0 0 -5px;
    }

    #portfolio .thumbnail-hover .sharebuttons{
        height: 247px;
    }

    #portfolio .thumbnail-hover .sharebuttons ul li{
        height: 49px;
    }

    #portfolio .thumbnail-hover ul li a, #portfolio .thumb-title-name p{
        font-size: 13px;
        letter-spacing: 1.3px;
    }

    #portfolio .thumb-title p{
        letter-spacing: 1.3px;
        font-size: 15px;
    }

    #portfolio .thumbnail-hover ul li {
        padding-top: 3px;
    }

    #portfolio .thumbnail-hover ul li:nth-child(2) a img:nth-child(1){
        display: none;
    }

    #portfolio .thumbnail-hover ul li:nth-child(3){
        padding-left: 41px;
    }

    #portfolio .thumbnail-hover ul li a img {
        left: 8px;
    }

    #portfolio .thumbnail-hover ul li .my-line1, #portfolio .thumbnail-hover ul li .my-line2{
        margin-top: 1px;
    }

    #portfolio .thumbnail-hover ul li .under-line, #portfolio .thumbnail-hover .orange-line {
        width: 69px;
    }

    #portfolio .portfolio-sub-header .left-block {
        width: 35.5%;
    }

    #portfolio .portfolio-sub-header .middle-block {
        width: 64.5%;
    }

    #portfolio .whatwedo-filter li:nth-child(1){
        width: 23.56%;
    }

    #portfolio .whatwedo-filter li:nth-child(3){
        width: 22%;
    }

    #portfolio .whatwedo-filter li:nth-child(2){
        width: 27.75%;
    }

    #portfolio .whatwedo-filter li:nth-child(4){
        width: 25.12%;
    }

    #news .share {
        left: 40px;
        top: 25px;
    }

    #news .carousel, #news .carousel .item {
        height: 600px;
    }

    #news .sharebuttons{
        top: 0;
        left: 0;
    }

    #news .floating-counter {
        margin-top: -70px;
        margin-bottom: -5px;
    }

    #news .days {
        margin-left: -1px;
    }

    #news .news-container{
        height: 300px;
        opacity: 1;
        padding: 10px 0;
    }

    #news .text-center{
        right: 85%;
        top: -44%;
    }

    #news .carousel-inner > .item > img {
        min-height: 300px;
    }

    #news .youtube-image {
        margin-top: 150px;
    }

    #news .news-container .news{
        padding-left: 18px;
    }

    .news-container .orange-line {
        margin-bottom: 14px;
        margin-top: -8px;
    }

    #news .join-elements{
        margin-top: -7px;
    }

    #news .news-container .news-paragraph{
        padding-left: 3px;
        padding-top: 17px;
    }

    #news .counter-content {
        top: 30px;
        left: 54%;
    }

    #personality .carousel-control.left{
        left: 30px;
    }

    #personality .carousel-control.right {
        right: 50px;
    }

    #news .carousel-control.left {
        padding-left: 0;
    }

    #news .news-title{
        margin-bottom: 4px;
        padding: 1px 50px 0 0 !important;
    }

    #news .carousel-control {
        top: 156px;
    }

    #news .news-paragraph {
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
    }

    #our-team .carousel-inner .item .member {
        margin-top: 0;
        padding-top: 0;
    }

    #our-team{
        position: relative;
        z-index: 9;
    }

    #our-team .carousel-control.left {
        padding-left: 4%;
    }

    #our-team .carousel-control {
        top: 40%;
    }

    .align-right {
        margin-top: 28px;
    }

    #our-team .member .perpendicular {
        margin-top: 14px;
    }

    #contact-us .subject-options {
        left: 26px !important;
    }
}


/* Mobile */
@media (min-width: 320px) and (max-width: 991px){
    .visible-mob-tab{
        display: block !important;
    }

    #background1 .star{
        background-position: center center !important;
        background-size: cover !important;
    }

    #navbar{
        text-align: center;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        background-color: #051D49;
    }

    .navbar-brand .logo{
        width: 240px;
        height: auto;
        margin-top: -6px;
        float: none;
    }


    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover{
        font-size: 14px;
    }

    nav.navbar {
        left: 0;
    }

    .navbar-default .navbar-toggle{
        position: fixed;
        right: -5px;
        top: 0;
        cursor: default;
    }

    .navbar-brand {
        height: 45px;
    }

    #navbar{
        padding: 0;
        position: relative;
        top: -49px;
        box-shadow: 0px 9px 55px rgba(0, 0, 0, 0.5);
    }

    .navbar-default .navbar-nav > .active > a .orange-line {
        margin-left: 1px;
    }

    /*.navbar > .container-fluid .navbar-brand {
        margin-left: 2px;
    }*/

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 15px;
    }

    .container > .navbar-collapse{
        margin-left: 0;
    }

    .navbar-default .navbar-nav > li:nth-child(2) {
        width: 141px;
    }

    .navbar-right{
        background-color: #051D49 !important;
        margin-right: 0;
        margin-top: 0;
        padding-left: 17px;
        display: inline-block;
    }

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        font-size: 14px;
    }

    .visible-desktop{
        display: none !important;
    }

    .menu{
        display: none;
    }

    #news .join-elements{
        display: block;
    }

    .gray-line{
        display: none !important;
    }

    #recent-work{
        height: 585px;
    }
    .videos-header-xs{
        display: inline;
        position: relative;
        top: 394px;
        height: 40px;
        min-height: 40px !important;
    }

    #recent-work .carousel-control {
        top: 149px;
    }

    .videos-header-xs ul{
        background-color: rgb(255, 255, 255);
        height: 40px;
        position: relative;
        left: 0;
    }

    #news .carousel-control.right {
        right: 0;
    }

    #news .carousel-control.left {
        left: 34px;
    }

    #personality .carousel-inner > .item > img, #allVideoPhotosCarousel .carousel-inner .item .allVideoPhotosCarouselimg {
        height: 100%;
    }

    .modal-dialog{
        margin: 0;
    }

    .sharebuttons {
        top: -101px;
    }

    .sharebuttons ul{
        margin-left: -21px;
        font-size: 10px;
    }

    .videos-header-xs ul li{
        text-align: left;
        padding-right: 0;
    }

    .playing-options{
        display: none;
    }

    .videos-header{
        font-size: 12px;
    }

    #what-we-do{
        margin-top: 25px;
    }

    #recent-work .videos-header ul {
        text-align: inherit;
    }

    #recent-work .videos-header ul li{
        width: 32%;
    }

    #recent-work .videos-header {
        padding-left: 25px !important;
    }

    #recent-work .videos-header .column {
        padding-left: 8px !important;
        font-size: 10px;
        padding-top: 0;
    }

    #recent-work .videos-header .video-title{
        padding-top: 13px;
        width: 100% !important;
    }

    #recent-work .videos-header .title{
        padding-top: 4px;
        width: 100% !important;
    }

    #recent-work .videos-header-xs ul li{
        padding: 12px 0 0 0;
        width: 33.3% !important;
        margin-left: -2px;
    }

    #recent-work .videos-header-xs ul li:nth-child(1) a, #recent-work .videos-header-xs ul li:nth-child(1) .orange-line{
        margin-left: 20px;
    }

    #recent-work .videos-header-xs ul li:nth-child(2) a, #recent-work .videos-header-xs ul li:nth-child(2) .orange-line{
        margin-left: 29px;
    }

    #recent-work .videos-header-xs ul li:nth-child(3) a, #recent-work .videos-header-xs ul li:nth-child(3) .orange-line{
        margin-left: 39px;
    }

    #recent-work .main-content{
        height: 335px;
        top: 60px;
    }

    #recent-work .carousel-caption {
        position: absolute;
    }

    #recent-work .carousel-caption h1 {
        margin: 0;
    }

    #recent-work .carousel, #recent-work .carousel .item {
        height: 435px;
    }

    #recent-work .sharebuttons {
        top: 60px;
        z-index: 1000;
    }

    #recent-work .carousel-control.left {
        left: 34px;
    }

    #recent-work .carousel-control.right {
        right: 19px;
    }

    #recent-work .share{
        left: 34px;
        top: 71px;
    }

    #recent-work .carousel-caption {
        /*top: 46%;*/
        display: none;
    }

    #recent-work .videos-header {
        min-height: 60px;
    }

    #recent-work .videos-header-xs{
        padding: 0 !important;
    }

    #recent-work .videos-header-xs ul{
        padding: 0;
        margin-left: 15px;
    }

    #recent-work .column.title .orange-line {
        margin-left: 0;
        margin-bottom: 5px;
    }

    #recent-work .videos-header p {
        padding: 0;
    }

    #services .services-list li {
        width: 30% !important;
        padding-left: 0;
    }

    #services .service-image {
        margin: 6px 0 10px !important;
        height: 69px;
    }

    #services .services-header{
        margin-bottom: 0;
    }

    #services .container-services-list .btn {
        margin-top: 0;
    }

    #services .services-list > li:nth-child(1), #services .services-list > li:nth-child(2), #services .services-list > li:nth-child(3){
        margin: 5px 0 0 0;
    }

    #services .services-list > li:nth-child(4), #services .services-list > li:nth-child(5), #services .services-list > li:nth-child(6){
        margin: 16px 0 0 0;
    }

    #services .services-list > li:nth-child(7), #services .services-list > li:nth-child(8){
        margin: 19px 0 0 0;
    }

    #services .services-list > li:nth-child(4) > .service-image, #services .services-list > li:nth-child(5) > .service-image, #services .services-list > li:nth-child(6) > .service-image{
        margin: -5px 0px 9px !important;
    }

    #services .services-list > li:nth-child(4) > .service-image{
        margin: -5px 0 0 0 !important;
    }

    #services .services-list > li:nth-child(7) > .service-image, #services .services-list > li:nth-child(8) > .service-image{
        margin: 6px 0 2px !important;
    }

    #services .services-list li:nth-child(4) .double {
        margin-top: 10px !important;
        margin-left: 3px;
    }

    #services .container-services-list {
        height: 550px !important;
    }

    #services{
        height: 643px !important;
    }

    #services .services-list {
        margin: 3px -4% 34px 15px;
    }

    #services .services-list li .double {
        padding: 0 !important;
    }

    .services-list > li:nth-child(1) > .service-image > img{
        top: 6px !important;
    }

    .services-list > li:nth-child(2) > .service-image > img{
        top: 9px !important;
    }

    .services-list > li:nth-child(3) > .service-image > img{
        top: 0;
    }

    .services-list > li:nth-child(4) > .service-image > img{
        top: 0;
    }

    .services-list > li:nth-child(5) > .service-image > img{
        top: 0;
    }

    .services-list > li:nth-child(6) > .service-image > img{
        top: 2px;
    }

    .services-list > li:nth-child(7) > .service-image > img{
        top: 5px;
    }

    .services-list > li:nth-child(8) > .service-image > img{
        top: 1px;
    }

    #services .services-list li .double {
        line-height: 1.2;
    }

    #portfolio .portfolio-sub-header{
        height: 50px;
    }

    #portfolio .display-thumbnail-filter{
        margin-top: -12px;
        margin-left: 24px;
    }
    #portfolio .whatwedo-filter {
        text-align: left;
        position: absolute;
        z-index: 9;
        padding-bottom: 0px;
        background-color: #fff;
        padding-top: 13px;
        margin-top: 22px;
    }

    #portfolio .thumbnail-hover .col-sm-12{
       padding: 0;
    }

    #portfolio .btn{
        margin-top: 29px;
        margin-bottom: 29px;
    }

    #portfolio .thumbnail-inner{
        margin-left: 15px;
    }

    /*#portfolio-content ul li .mythumbnail{
        height: 210px;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
    }*/

    #portfolio .whatwedo-filter {
        margin-top: 8px;
        width: 100%;
        left: 0;
        text-align: left;
    }

    #portfolio .whatwedo-filter li{
        margin-left: 27.77%;
        padding-left: 0;
        margin-bottom: 9px;
    }

    #portfolio .whatwedo-filter li:nth-child(1) p{
        margin-top: 2px;
    }

    #portfolio .whatwedo-filter li:nth-child(2) p{
        margin-top: 0;
    }

    #portfolio .whatwedo-filter li:nth-child(3) p{
        margin-top: -2px;
    }

    #portfolio .whatwedo-filter li:nth-child(4) p{
        margin-top: -4px;
    }

    #portfolio .whatwedo-filter li:nth-child(4){
        margin-bottom: 1px;
    }

    #portfolio .whatwedo-filter li:nth-child(1) .orange-line{
        top: 21px;
    }

    #portfolio .whatwedo-filter li:nth-child(2) .orange-line{
        top: 19px;
    }

    #portfolio .whatwedo-filter li:nth-child(3) .orange-line{
        top: 17px;
    }

    #portfolio .whatwedo-filter li:nth-child(4) .orange-line{
        top: 15px;
    }

    #portfolio-content ul li.thumbnail-inner, #portfolio-content ul li .carousel-inner, #portfolio-content ul li .item, #portfolio .thumbnail-hover, #portfolio .carousel-inner img {
        min-height: 210px;
        height: 210px;
    }

    #portfolio .sharebuttons {
        left: 0;
        height: 206px;
    }

    #portfolio .sharebuttons ul li {
        height: 41px;
        padding: 10px 0 5px 6px !important;
    }

    #portfolio .under-header p{
        margin-bottom: 0;
    }

    #portfolio .portfolio-sub-header{
        margin-left: 15px;
    }

    #portfolio .thumbnail-all .orange-line, #portfolio .thumbnail-all p {
        margin-left: 47.39%;
    }

    #portfolio .whatwedo-filter li .orange-line{
        margin-top: 0;
    }

    #portfolio-content ul li.thumbnail-inner{
        width: 100%;
    }

    #portfolio .portfolio-sub-header .dropdown-image{
        display: block !important;
        width: 41.38%;
    }

    #portfolio .middle-block{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #portfolio .portfolio-sub-header .left-block{
        width: 58.61%;
    }

    #portfolio .thumbnail-hover ul li:nth-child(2) a img:nth-child(2){
        display: none;
    }

    #news .carousel, #news .carousel .item {
        height: 800px;
    }

    #news .text-center{
        position: absolute;
        left: 50%;
    }

    #news .floating-counter {
        margin-top: -88%;
    }

    #news .counter-content a{
        display: none;
    }

    #news .youtube-link-content {
        padding-left: 0;
    }

    #news .news-container{
        padding: 21px 18px;
        height: 400px;
        opacity: 1;
    }
    .news-container .orange-line {
        margin-top: -10px;
        margin-left: 3px;
    }

    #news .sharebuttons {
        top: 0;
    }

    #news .carousel-inner > .item > img {
        min-height: 400px;
        max-width: none;
    }

    #news .news-title {
        font-size: 19px;
        padding: 1px 0px 0px 0px !important;
        margin-bottom: 3px;
        width: 71%;
    }

    #news .news-paragraph {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        margin-top: 30px;
    }

    #news .counter-content {
        left: 100%;
        top: 0;
    }

    #news .share {
        top: 12px;
        left: 34px;
    }

    #news .news-container .news{
        width: 100%;
    }

    #personality .carousel-inner > .item > img{
        padding-top: 0;
    }

    #personality .carousel-control.left {
        left: 34px;
    }

    .personality-slides, #personality .carousel .item, #personalityCarousel {
        height: 600px;
    }

    #personality .carousel-inner img {
        top: 0;
    }

    #personality .carousel-inner > .item > img {
        min-height: 600px;
        max-width: none !important;
    }

    #personality .personality-content {
        padding-bottom: 5%;
        top: 285px;
        padding-right: 34px;
        padding-left: 35px;
        margin-left: -1px;
    }

    #personality .personality-content .comment-paragraph {
        padding-right: 0;
        padding-left: 1px;
        margin-left: 0;
        width: auto;
    }

    #personality p.profession {
        margin-bottom: 5px;
    }

    #personality .carousel-control {
        top: 198px;
    }

    #personality .work, #personality .work-interpreters{
        position: absolute;
    }

    #personality .work{
        top: -264px;
        margin-top: 0;
    }

    #personality .work-interpreters{
        top: -247px;
    }

    #personality .orange-line, #our-team .orange-line {
        margin-bottom: 30px;
    }

    #personality .work-interpreters, #personality .work{
        margin-left: 0;
    }

    #our-team .orange-line {
        margin-bottom: 29px;
    }

    #our-team .otherprof {
        margin-left: -3px;
    }

    #our-team h1.personality-name, #our-team p.profession {
        margin-bottom: 4px;
    }

    #our-team .perpendicular{
        text-align: left;
    }

    #our-team .member{
        text-align: center;
        margin-bottom: 0;
        width: 100% !important;
    }

    #our-team .carousel-inner .item img {
        margin-left: -16px;
        margin-top: 4px;
    }

     .member{
        opacity: 1;
    }

    #our-team .our-team-header {
        padding: 19px 0 0;
    }

    #our-team .our-team-header img{
        margin-left: 0;
    }

    #our-team .carousel-control {
        top: 72px;
    }

    #our-team .member .perpendicular {
        margin-top: -16px;
        text-align: center;
        margin-left: 15px;
        left: 0;
    }

    #our-team .orange-line {
        margin-bottom: 24px;
    }

    #our-team h1.personality-name {
        margin-bottom: 3px;
    }

    #our-team .perpendicular h1{
        margin-bottom: 2px;
    }

    #our-team .carousel-control.left {
        padding-left: 49px;
    }

    #our-team {
        height: 500px;
    }

    #our-team .our-team-header h1{
        margin-left: 1px;
    }

    #our-team .middle-align{
        display: inline-block;
        text-align: left;
        margin-left: -4px;
    }

    #contact-us .contact-us-container form .first, #contact-us .contact-us-container form .second {
        padding-left: 19px;
        padding-right: 35px;
        width: 90%;
        margin-left: 20px;
    }

    #contact-us .subject-options {
        left: 28px !important;
    }

    #contact-us .contact-us-container form{
        width: auto;
    }

    #contact-us .contact-us-header {
        height: auto;
    }

    #contact-us .contact-us-container {
        margin-top: -35px;
    }

    #contact-us .btn {
        margin-bottom: 0;
        margin-top: 71px;
    }

    #contact-us input, #contact-us select {
        margin: 0 0 25px 9px;
        padding-bottom: 4px;
    }

    .cover-heading, .title-image, .main-buttons {
        margin-left: 0;
    }

    .title-image {
        margin-left: 12px;
    }
}





/*Other media queries validations*/
@media (min-width: 2000px){
    .parallax-window {
        height: 900px;
    }
}

@media (min-width: 1920px){
    #news .carousel-inner > .item > img, #personality .carousel-inner > .item > img {
        min-width: 100%;
        height: auto;
    }
}

@media (min-width: 1800px){
    .parallax-window {
        height: 800px;
    }
}


@media (min-width: 1200px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
        margin-left: 0;
    }

    .navbar-right {
        margin-top: -51px;
    }

    #what-we-do{
        margin-left: 15px;
    }

    #news .carousel-indicators {
        padding-left: 53px;
    }

    #news .col-sm-push-2 {
        left: 2% !important;
    }

    #news .col-sm-offset-2 {
        margin-left: -30px;
    }

    #our-team .member-slides, #our-team .member-slides .carousel-inner {
        height: 400px;
    }

    .cover-heading {
        margin-bottom: 8%;
    }

    #what-we-do .visible-mob-tab{
        display: none !important;
    }

    #what-we-do .visible-desktop{
        display: block !important;
    }

    #recent-work .carousel-control.left {
        left: 39px !important;
    }

    #recent-work img.share {
        left: 53px !important;
    }

    #portfolio .thumbnail-hover ul li:nth-child(2) a img:nth-child(1){
        display: none;
    }

    #portfolio #portfolio-content{
        padding-left: 45px;
    }

    #portfolio .thumbnail-hover .sharebuttons ul {
        margin: 0px 0px 0px -20px !important;
    }
}


@media (min-width: 992px) and (max-width: 1199px){
    .navbar-right {
        margin-top: -51px;
    }

    #what-we-do .welcome-image{
        margin-top: -19px;
        margin-left: 1%;
        padding: 0;
    }

    #news .col-sm-pull-6 {
        right: 0;
    }

    #news .col-sm-offset-2{
        left: 0;
        margin-left: 0;
    }

    #news .col-sm-push-2 {
        left: 0;
    }

    #contact-us .btn {
        margin-bottom: 4%;
        margin-top: 5%;
    }

    .parallax-window {
        min-height: 600px;
    }

    #portfolio-content {
        padding-left: 15px;
    }

    #recent-work .main-content{
        margin-left: 0;
    }
}


@media (min-width: 992px) and (max-width: 999px){
    .navbar-right {
        padding-left: 8px !important;
    }
}


@media (min-width: 980px) and (max-width: 999px){
    #what-we-do {
        margin-left: 0px !important;
    }

    #portfolio .whatwedo-filter {
        left: -15px !important;
    }

    #portfolio-content ul li.thumbnail-inner{
        margin-left: -7px;
    }

    #portfolio .whatwedo-filter {
        margin-left: 0 !important;
    }

    #our-team .perpendicular {
        margin-left: 0px !important;
    }
}


@media (min-width: 768px) and (max-width: 979px){
    #what-we-do{
        margin-left: 5px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container-fluid .navbar-brand {
        margin-left: -13px;
    }

    #recent-work .main-content{
        margin-left: 0;
    }

    p.rights{
        font-size: 10px;
        margin-top: 55px !important;
    }

    #portfolio .thumbnail-inner {
        margin-left: 10px;
    }

}


@media (min-width: 768px) and (max-width: 1199px){
    #what-we-do .welcome-image {
        margin-top: 0;
        margin-left: -1px;
        padding-top: 22px;
    }

    #what-we-do{
        margin-left: 0;
        padding: 0 25px;
        height: 400px;
    }

    #what-we-do h1{
        margin: 0 0 55px;
    }

    #what-we-do .whatwedo-filter li {
        display: inline-table;
        width: 25%;
    }

    #what-we-do .whatwedo-filter {
        width: auto;
    }

    #what-we-do .welcome-image {
        position: relative;
    }

    .whatwedo-filter li p {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 0px;
        margin-left: 1px;
    }

    .whatwedo-text{
        margin-top: 8px;
    }

    #what-we-do .orange-line{
        margin-top: 1px;
        position: relative;
        top: 28px;
    }

    #what-we-do .wwd1, #what-we-do .wwd2{
        margin-left: -17px;
    }

    .whatwedo-text p {
        font-size: 14px;
        padding: 0 0 0 1px;
    }

    #what-we-do .visible-mob-tab{
        display: block !important;
    }

    #what-we-do .visible-desktop{
        display: none !important;
    }
}

@media (max-width: 767px){
    .container-fluid > .navbar-header{
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid > .navbar-collapse {
        margin-left: -15px;
    }

    .container-fluid > .navbar-header{
        margin-left: -14px;
    }

    #services .services-list {
        margin-left: 0 !important;
    }

    #contact-us .contact-us-header img{
        margin-top: 0;
    }

    #contact-us .subject-options {
        left: 13%;
    }

    #contact-us .contact-us-container {
        padding-top: 0;
    }

    #contact-us .contact-us-container form .first, #contact-us .contact-us-container form .second {
        margin-left: 39px;
    }

    #contact-us .contact-us-container form{
        margin-top: 40px;
    }

    #contact-us .button-container{
        margin-top: 39px;
    }

    #contact-us .btn {
        margin-bottom: 0;
        margin-top: 0;
    }

    #follow-us ul li{
        margin-right: 11%;
    }

    #follow-us{
        overflow: hidden;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-right {
        margin-right: 0;
    }

    .cover-heading {
        margin-bottom: 11%;
    }

    .navbar-brand img{
        margin-left: 0;
    }

    .navbar-right {
        padding-left: 27px !important;
    }

    .gray-line{
        display: none;
    }

    .parallax-window {
        min-height: 600px;
    }

    #services .services-list li .double {
        line-height: 1.25;
    }

    #portfolio .whatwedo-filter {
        margin-left: -10px;
    }

    #portfolio .whatwedo-filter li {
        margin-left: 28.9% !important;
    }

    #our-team .perpendicular{
        margin-left: 10px !important;
    }
}


@media (min-width: 880px) and (max-width: 999px){
    #services .services-list li{
        width: 32% !important;
        padding-left: 0;
    }

    #services .services-list {
        margin: 3px -4% 34px 5px !important;
    }

    #services .container-services-list .btn {
        margin-top: 0;
    }
}


@media (max-width: 767px) {
    div.aux{
        visibility: visible;
    }

    .menu p{
        display: none;
    }

    .title-image {
        margin-top: 29%;
    }

    .navbar-static-top {
        margin-left: 0;
    }

    body{
        padding: 0;
        overflow-x: hidden;
    }

    .navbar-brand .logo{
        width: 240px;
        height: auto;
        margin-top: -6px;
        float: none;
    }

    .menu img {
        top: -6px;
        left: 12px;
    }

    .navbar > .container .navbar-brand{
        margin-left: 37px;
    }

    .container > .navbar-header {
        height: 45px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .cover-heading{
        padding: 0 20px;
        margin-bottom: 55px;
    }

    .see-our-work {
        margin-right: 0;
    }

    .see-our-work, .more-about-us{
        margin: 0 2% 18px;
    }

    #main-view{
        left: 0;
    }

    .whatwedo-text p{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        padding: 0px 0px 7px 1px;
    }

    #what-we-do .visible-mob-tab{
        display: block !important;
    }

    #what-we-do{
        height: 545px;
        padding: 0px 26px;
        margin-left: 15px;
    }

    #what-we-do h1 {
        padding-top: 44px;
        margin: 0px 0px 57px -6px;
    }

    #what-we-do .wwd-inner-container{
        width: 100%;
    }

    #what-we-do .whatwedo-filter{
        width: 111%;
        margin-left: -38px;
    }

    #what-we-do .wwd2, #what-we-do .wwd1{
        margin-left: -18px;
    }

    #what-we-do .whatwedo-filter li {
        width: 50% !important;
        margin-bottom: 18px;
    }

    #what-we-do .welcome-image {
        margin-left: 1px;
        padding-top: 19px;
        padding-bottom: 9px;
        position: relative;
    }

    .rights{
        font-size: 10px;
    }

    #follow-us{
        overflow: hidden;
        height: 595px;
    }

    .parallax-window2, .parallax-window3, .parallax-window4, .parallax-window5, .parallax-window6{
        min-height: 595px;
    }

    #follow-us .title-image{
        margin-bottom: 60px;
        margin-top: 60px;
        margin-left: 0;
    }

    #follow-us ul {
        margin-bottom: 20px;
    }

    #follow-us ul {
        margin-top: 60px;
    }

    #follow-us ul li{
        margin-right: 11%;
    }

    #follow-us p {
        font-size: 10px;
        margin-top: 22px;
    }

    #follow-us .follow-content{
        height: 595px;
    }
}


@media (min-width: 400px) and (max-width: 767px){
    #our-team .col-xs-offset-3 {
        margin-left: 34% !important;
    }
}

@media (max-width: 480px) {
    .title-image {
        width: 90%;
    }
}


@media (min-width: 481px) and (max-width: 767px){
    #our-team .col-xs-offset-3 {
        margin-left: 39%;
    }
}


@media (max-width: 320px) {
    .thumbnail-hover {
        padding: 0px;
    }

    #portfolio-content ul li.thumbnail-inner{
        width: 100%;
    }
}


@media (min-width: 320px) and (max-width: 332px){
    #what-we-do .whatwedo-filter li p {
        letter-spacing: 1px !important;
    }
}


@media (min-width: 320px) and (max-width: 347px){
    #recent-work .videos-header-xs ul li a, #recent-work .videos-header-xs ul li .orange-line {
        margin-left: 18px !important;
    }
}


@media (min-width: 1521px){
    #portfolio-content{
        padding-right: 0;
    }
}


@media (min-height: 240px) and (max-height: 479px){
    .cover-heading {
        font-size: 40px;
    }

    .title-image{
        margin-top: 48px;
    }
}

@media (max-width: 610px) {
    #news .counter-content {
        left: 62% !important;
    }
}
